#brand-select {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  @include media(xs-portrait-short) {
    padding: 10px 20px;
  }
  .bs-content {
    background-color: white;
    border-radius: 25px;
    padding: 20px 30px 32px 30px;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0px 6px 34px -9px rgba(0,0,0,0.5);
    @include media(sm) {
      padding: 20px 20px 20px 20px;
    }
    @include media(xs-portrait-short) {
      padding: 10px 20px 10px 20px;
    }
  }
  h2 {
    font-size: 50px;
    line-height: 54px;
    font-weight: 500;
    margin: 0 0 0 0;
    @include media(md) {
      font-size: 25px;
      line-height: 28px;
    }
    @include media(xxs) {
      font-size: 25px;
      line-height: 26px;
    }
    @include media(xxxs) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  // Links
  // ----------------------------------------
  .link-wrap {
    display: flex;
    width: 100%;
    max-width: 850px;
    margin: 25px 0 0 0;
    flex-wrap: wrap;
    height: 100px;
    @include media(sm-portrait) {
      height: unset;
      margin: 15px 0 0 0;
    }
    @include media(xs-portrait) {
      margin: 0 0 0 0;
    }
    @include media(xs-portrait-short) {
      margin: 0 0 0 0;
    }
  }
  .brand-link {
    width: percentage(1/6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none !important;
    ._border  {
      transition: all .2s;
      position: absolute;
      //top: -38%;
      left: 2%;
      border: 1px solid #cccccc;
      width: 94%;
      padding-bottom: 94%;
      display: none;
      justify-content: center;
      align-items: center;
      border-radius: 10%;
      @include media(sm) {
        display: none;
      }
    }
    ._wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%;
    }
    ._year {
      font-size: 20px;
      color: $color-font;
      text-align: center;
      font-style: italic;
      font-weight: normal;
      margin-top: auto;
      @include media(sm-portrait) {
        margin-top: auto;
        //padding-bottom: 10px;
        font-size: 15px;
      }
    }
    img {
      transition: all .2s;
      @include media(md) {
        transform: scale(.85);
      }
    }
    &:hover {
      @include media(sm-plus) {
        ._border {
          display: flex;
        }
        img {
          // edit v1 - no scale
          //transform: scale(1.075);
        }
      }
    }
    @include media(sm-portrait) {
      //width: percentage(1/3);
      margin: 10px 0 0 0;
      img {
        transform: scale(.75);
      }
    }
    @include media(xs-portrait) {
      width: percentage(1/3);
      margin: 10px 0 0 0;
      img {
        transform: scale(.7) translate(0, 0%);
      }
    }
    @include media(xs-portrait-xshort) {
      margin-top: -10px !important;
    }
    //@include media(protrait-xs-sm) {
    //  width: percentage(1/6);
    //  color: #ff00ff;
    //  margin: 10px 0 0 0;
    //  img {
    //    transform: scale(.75);
    //  }
    //}
    @include media(xs-portrait-short) {
      margin: 0 0 0 0;
      img {
        transform: scale(.5) translate(0, 30%);
      }
    }

    // note: I use half the size because using transform-scale will blur the image
    .__bnw { width: 61px; }
    .__nissan { width: 71px; }
    .__mitsubishi { width: 62px; }
    .__mazda { width: 67px; }
    .__honda { width: 95px; }
    .__toyota {
      padding: 24px 0;
      width: 95px;
    }
  }
}

