#app {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

body, html {
  overflow: hidden;
}

#sec-main {
  font-family: $font-family1;
  padding: #{$nav-height} 0 0 0;
  height: 100vh;
  box-sizing: border-box;
  background-size: auto 100%;
  @include media(sm) {
    padding: #{$nav-height-mobile} 0 0 0;
  }
  @include media(mobile-ultrawide) {
    padding: #{$nav-height-mobile} 0 0 0;
  }

  ._bg {
    width: 100%;
    height: 100%;
    //height: calc(100vh -  #{$nav-height});
    background: #16202c url(#{$asset-path}imgs/bg.jpg) repeat-x top center;
    background-size: cover; // actual: 878px, desired: 832px
    background-position: center center;
    position: relative;
    overflow: hidden;
    @include media(sm-portrait) {
      background: #16202c url(#{$asset-path}imgs/bg-mobile.jpg) repeat-x top center;
      background-size: auto 100%;
      background-position: center center;
    }
    @include media(mobile-ultrawide) {
      background-size: 100% auto;
      background-position: center center;
    }
  }

  ._content {
    // position
    padding-top: calc(50vh - 395px);
  }

  .scale-wrap {
    position: relative;
    height: 100%;
    top: 0;
    width: 1100px;
    box-sizing: border-box;
    @include media(sm-portrait) {
      width: 100%;
    }
    @include media(md-portrait) {
      width: 100%;
    }
  }

  // Title
  // ----------------------------------------
  ._title {
    display: flex;
    margin-bottom: 50px;
    height: 126px; // fix height to fix the calculation bug
    @include media(xs) {
      margin-top: 20px
    }
    @include media(xs-portrait-xshort) {
      margin-top: 0;
    }
  }
  ._img {
    padding-right: 45px;
    display: flex;
    align-items: center;
    img {
      width: 105.5px;
    }
  }
  ._text {
    border-left: 3px solid $color-font;
    padding-left: 45px;
    ._main-header {
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
      margin: 0 0 0 0;
    }
    ._sub-header {
      font-size: 38px;
      line-height: 38px;
      margin: 4px 0 8px 0;
      ._change-span {
        font-weight: 900;
        color: $color1;
        font-size: 54px;
        font-style: italic;
      }
    }
  }

  // Car
  // ----------------------------------------
  ._car {
    position: relative;
    margin-bottom: 50px;

    @include media(sm-portrait) {
      position: absolute;
      top: 25%;
      left: 0;
    }
    @include media(xs-portrait-xshort) {
      position: absolute;
      top: 20%;
      left: 0;
    }
    img {
      width: 100%;
      max-width: 859px;
      @include media(md) {
        width: 95%;
        margin-left: 3.5%;
      }
    }
  }

  // Below car
  // ----------------------------------------
  ._below-car {
    position: absolute;
    bottom: -55px;
    width: 100%;
    @include media(sm-portrait) {
      bottom: -10vw;
    }
    @include media(xs-portrait-xshort) {
      bottom: -8vw;
    }
    img {
      width: 135px;
      @include media(md-portrait) {
        width: 18vw;
      }
    }
  }

  // Mobile fix (for longer mobile)
  // ----------------------------------------
  @include media(mobile-portrait-mhigh) {
    #brand-select {
      bottom: unset;
      top: 300px;
    }
  }
  @include media(mobile-portrait-high) {
    #brand-select {
      bottom: unset;
      top: 310px;
    }
  }
  @include media(mobile-portrait-xhigh) {
    #brand-select {
      bottom: unset;
      top: 350px;
    }
  }

}

// Scaling
// ----------------------------------------

#title-scale {
  width: 850px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.__hidden {
  visibility: hidden;
}

.portrait-mode {
  position: absolute;
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  font-family: $font-family1;
  font-size: 2rem;
}
