// Responsive Mixins
// --------------------------------

@mixin media($media) {
  @if $media == xxs {
    @media (max-width: $bp-xxs) {
      @content;
    }
  } @else if $media == xxxs { // added
    @media (max-width: 340px) {
      @content;
    }
  }  @else if $media == xs {
    @media (max-width: $bp-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (max-width: $bp-sm) {
      @content;
    }
  } @else if $media == md {
    @media (max-width: $bp-md) {
      @content;
    }
  } @else if $media == lg {
    @media (max-width: $bp-lg) {
      @content;
    }
  } @else if $media == xl {
    @media (max-width: $bp-xl) {
      @content;
    }
  } @else if $media == xxl {
    @media (min-width: $bp-xl-min) {
      @content;
    }
  } @else if $media == xs-plus {
    @media (min-width: $bp-xs-min) {
      @content;
    }
  } @else if $media == sm-plus {
    @media (min-width: $bp-sm-min) {
      @content;
    }
  } @else if $media == md-plus {
    @media (min-width: $bp-md-min) {
      @content;
    }
  } @else if $media == lg-plus {
    @media (min-width: $bp-lg-min) {
      @content;
    }
  } @else if $media == xl-plus {
    @media (min-width: $bp-xl-min) {
      @content;
    }
  }
  // special
  @else if $media == mobile-ultrawide { // iphoneX, pixel 2 xl landscape
    @media (max-width: $bp-md) and (-webkit-min-device-pixel-ratio : 3) and (orientation: landscape) {
      @content;
    }
  }
  @else if $media == mobile-portrait-mhigh { // iphoneX, pixel 2 xl portrait
    @media (max-width: $bp-xxs) and (min-height: 660px) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media == mobile-portrait-high { // iphoneX, pixel 2 xl portrait
    @media (max-width: $bp-xxs) and (min-height: 731px) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media == mobile-portrait-xhigh { // iphoneX, pixel 2 xl portrait
    @media (max-width: $bp-xxs) and (min-height: 812px) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media == sm-landscape {
    @media (max-width: $bp-sm) and (orientation: landscape) {
      @content;
    }
  }
  @else if $media == md-portrait {
    @media (max-width: $bp-md) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media == sm-portrait {
    @media (max-width: $bp-sm) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media == xs-portrait {
    @media (max-width: $bp-xs) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media == xs-portrait-short {
    // Note: to fix safari bug the normal (639px) needed to be tweaked.
    //@media (max-width: $bp-xs) and (orientation: portrait) and (max-height: 639px) {
    @media (max-width: $bp-xs) and (orientation: portrait) and (max-height: 644px) {
      @content;
    }
  }
  @else if $media == xs-portrait-xshort { // old iphone
    @media (max-width: $bp-xs) and (orientation: portrait) and (max-height: 568px) {
      @content;
    }
  }
  @else if $media == protrait-xs-sm { // fix uncommon zone
    @media (min-width: $bp-xs) and (max-width: $bp-sm) and (max-height: 912px) and (orientation: portrait) {
      @content;
    }
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin chevron($chevron-thickness, $chevron-size, $chevron-offset) {
  &::before {
    border-style: solid;
    border-width: $chevron-thickness $chevron-thickness 0 0;
    content: '';
    display: inline-block;
    height: $chevron-size;
    width: $chevron-size;
    top: $chevron-offset;
    left: $chevron-offset;
    position: relative;
    transform: rotate(135deg);
    transition: all .3s;
  }
}
