#main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  padding: 0 $content-padding;
  z-index: 99;
  transition: all 300ms ease-in-out;
  overflow-y: hidden;
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: center;
  @include media(sm) {
    height: $nav-height-mobile;
  }
  @include media(mobile-ultrawide) {
    height: $nav-height-mobile;
  }
  .nav-inner {
    width: 100%;
    height: 100%;
    max-width: $content-width;
    display: flex;
    box-sizing: border-box;
    @include media(sm) {
      display: flex;
      justify-content: center;
    }
    @include media(mobile-ultrawide) {
      display: flex;
      justify-content: center;
    }
  }
  .nav-logo {
    width: 297px;
    display: flex;
    align-items: center;
    height: 100%;
    img {
      width: 100%;
    }
    @include media(sm) {
      width: 200px;
    }
    @include media(mobile-ultrawide) {
      width: 200px;
    }
  }
}
