// Responsive
// Note: must be in order
// ----------------------------------------

// Responsive
// Note lg must be as the width + padding
// --------------------------------

$responsive-slugs: xl, lg, md, sm, xs;
$bp-xs-min: 576px;
$bp-sm-min: 768px;
$bp-md-min: 992px;
$bp-lg-min: 1261px; // 1240 + (padding) // 1199px
$bp-xl-min: 1600px;

$bp-xxs: 460px;
$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1280px; // 1199px
$bp-xl: 1599px;

.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: 33.333%;
}
.col-3 {
  width: 25%;
}
@include media(xs-plus) {
  .xs-col-6 {
    width: 50%;
  }
}
@include media(sm-plus) {
  .sm-col-6 {
    width: 50%;
  }
}
@include media(sm-plus) {
  .sm-col-6 {
    width: 50%;
  }
}
@include media(md-plus) {
  .md-col-6 {
    width: 50%;
  }
  .md-col-4 {
    width: 33.33%;
  }
  .md-col-3 {
    width: 25%;
  }
}
.ml-col {
  box-sizing: border-box;
}

// Show & Hide
// ----------------------------------------

@each $slug in $responsive-slugs {
  @include media(#{$slug}-plus) {
    .show-#{$slug} {
      display: none;
    }
  }
  @include media(#{$slug}) {
    .hide-#{$slug} {
      display: none;
    }
  }
}
