$asset-path: "../";

$content-width: 1330px;
$content-padding: 20px;

$color1: #f00a00;
$color1-lighter: #e80e70;
$color2: #df2c2f;
$color3: #333333;
$color-danger: #df2c2f;

$color-font: #000000;
$color-font-lighter: #999999;
$color-font-medium: #666666;
$color-input-border: #cccccc;

$color-bg1: #f7f7f7;

$nav-height: 70px;
$nav-height-mobile: 35px;

$font-family1: 'db_helvethaicax', sans-serif;
$font-family2: sans-serif;
$font-family3: sans-serif;
$font-family-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

