/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.col-12 {
  width: 100%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.333%; }

.col-3 {
  width: 25%; }

@media (min-width: 576px) {
  .xs-col-6 {
    width: 50%; } }

@media (min-width: 768px) {
  .sm-col-6 {
    width: 50%; } }

@media (min-width: 768px) {
  .sm-col-6 {
    width: 50%; } }

@media (min-width: 992px) {
  .md-col-6 {
    width: 50%; }
  .md-col-4 {
    width: 33.33%; }
  .md-col-3 {
    width: 25%; } }

.ml-col {
  box-sizing: border-box; }

@media (min-width: 1600px) {
  .show-xl {
    display: none; } }

@media (max-width: 1599px) {
  .hide-xl {
    display: none; } }

@media (min-width: 1261px) {
  .show-lg {
    display: none; } }

@media (max-width: 1280px) {
  .hide-lg {
    display: none; } }

@media (min-width: 992px) {
  .show-md {
    display: none; } }

@media (max-width: 991px) {
  .hide-md {
    display: none; } }

@media (min-width: 768px) {
  .show-sm {
    display: none; } }

@media (max-width: 767px) {
  .hide-sm {
    display: none; } }

@media (min-width: 576px) {
  .show-xs {
    display: none; } }

@media (max-width: 575px) {
  .hide-xs {
    display: none; } }

html, body {
  width: 100%;
  height: 100%; }

body.mobile-menu-expanded {
  overflow-y: hidden; }

body.body-no-scroll {
  overflow-y: hidden; }

.font1 {
  font-family: "db_helvethaicax", sans-serif; }

.font2 {
  font-family: sans-serif; }

.font3 {
  font-family: sans-serif; }

.color2 {
  color: #df2c2f; }

.color-danger {
  color: #df2c2f; }

.color-font {
  color: #000000; }

.bold {
  font-weight: bold; }

.bg1 {
  background-color: #f9f9f9; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-h-center {
  display: flex;
  justify-content: center; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.layout-outer {
  width: 100%;
  display: flex;
  justify-content: center; }

.layout-inner {
  width: 100%;
  max-width: 1330px;
  padding: 0 60px;
  box-sizing: border-box; }
  .layout-inner.no-padding {
    padding: 0; }
  @media (max-width: 1280px) {
    .layout-inner {
      padding: 0 30px; } }
  @media (max-width: 991px) {
    .layout-inner {
      overflow: hidden;
      padding: 0 20px; } }

.layout-inner-full {
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px; }
  @media (max-width: 1280px) {
    .layout-inner-full {
      padding: 0 30px; } }
  @media (max-width: 991px) {
    .layout-inner-full {
      padding: 0; } }

.layout-narrow {
  width: 100%;
  max-width: 452px; }

.ml-link {
  text-decoration: none;
  color: #000000; }
  .ml-link:hover {
    color: #df2c2f; }

.underline {
  text-decoration: underline; }

.pad-top-1 {
  padding-top: 40px; }
  @media (max-width: 991px) {
    .pad-top-1 {
      padding-top: 20px; } }

.pad-top-2 {
  padding-top: 15px; }
  @media (max-width: 991px) {
    .pad-top-2 {
      padding-top: 20px; } }

.text-center {
  text-align: center; }

.highlight {
  color: #f00a00; }

.heading1 {
  font-weight: bold;
  font-size: 30px;
  margin: 37px 0 35px 0;
  width: 100%; }
  @media (max-width: 991px) {
    .heading1 {
      font-size: 22px; } }
  .heading1.primary {
    margin-top: 60px; }
    @media (max-width: 991px) {
      .heading1.primary {
        margin: 38px 0 12px 0; } }

.heading2 {
  font-weight: bold;
  font-size: 22px;
  margin: 20px 0 20px 0;
  width: 100%; }

.heading3 {
  font-weight: normal;
  font-size: 18px;
  margin: 20px 0 20px 0;
  width: 100%; }
  @media (max-width: 991px) {
    .heading3 {
      font-size: 15px; } }
  @media (max-width: 991px) {
    .heading3.primary {
      margin: 16px 0 0 0; } }

.plain-anchor {
  text-decoration: none;
  color: #000000; }

.ml-normalize a {
  text-decoration: none;
  color: #000000; }

.br-md-m {
  display: none; }
  @media (max-width: 991px) {
    .br-md-m {
      display: inline-block; } }

.divider {
  background-color: #ce1c69;
  height: 1px;
  width: 200px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .divider {
      width: 100px; } }

#app {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0; }

body, html {
  overflow: hidden; }

#sec-main {
  font-family: "db_helvethaicax", sans-serif;
  padding: 70px 0 0 0;
  height: 100vh;
  box-sizing: border-box;
  background-size: auto 100%; }
  @media (max-width: 767px) {
    #sec-main {
      padding: 35px 0 0 0; } }
  @media (max-width: 991px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    #sec-main {
      padding: 35px 0 0 0; } }
  #sec-main ._bg {
    width: 100%;
    height: 100%;
    background: #16202c url(../imgs/bg.jpg) repeat-x top center;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden; }
    @media (max-width: 767px) and (orientation: portrait) {
      #sec-main ._bg {
        background: #16202c url(../imgs/bg-mobile.jpg) repeat-x top center;
        background-size: auto 100%;
        background-position: center center; } }
    @media (max-width: 991px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      #sec-main ._bg {
        background-size: 100% auto;
        background-position: center center; } }
  #sec-main ._content {
    padding-top: calc(50vh - 395px); }
  #sec-main .scale-wrap {
    position: relative;
    height: 100%;
    top: 0;
    width: 1100px;
    box-sizing: border-box; }
    @media (max-width: 767px) and (orientation: portrait) {
      #sec-main .scale-wrap {
        width: 100%; } }
    @media (max-width: 991px) and (orientation: portrait) {
      #sec-main .scale-wrap {
        width: 100%; } }
  #sec-main ._title {
    display: flex;
    margin-bottom: 50px;
    height: 126px; }
    @media (max-width: 575px) {
      #sec-main ._title {
        margin-top: 20px; } }
    @media (max-width: 575px) and (orientation: portrait) and (max-height: 568px) {
      #sec-main ._title {
        margin-top: 0; } }
  #sec-main ._img {
    padding-right: 45px;
    display: flex;
    align-items: center; }
    #sec-main ._img img {
      width: 105.5px; }
  #sec-main ._text {
    border-left: 3px solid #000000;
    padding-left: 45px; }
    #sec-main ._text ._main-header {
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
      margin: 0 0 0 0; }
    #sec-main ._text ._sub-header {
      font-size: 38px;
      line-height: 38px;
      margin: 4px 0 8px 0; }
      #sec-main ._text ._sub-header ._change-span {
        font-weight: 900;
        color: #f00a00;
        font-size: 54px;
        font-style: italic; }
  #sec-main ._car {
    position: relative;
    margin-bottom: 50px; }
    @media (max-width: 767px) and (orientation: portrait) {
      #sec-main ._car {
        position: absolute;
        top: 25%;
        left: 0; } }
    @media (max-width: 575px) and (orientation: portrait) and (max-height: 568px) {
      #sec-main ._car {
        position: absolute;
        top: 20%;
        left: 0; } }
    #sec-main ._car img {
      width: 100%;
      max-width: 859px; }
      @media (max-width: 991px) {
        #sec-main ._car img {
          width: 95%;
          margin-left: 3.5%; } }
  #sec-main ._below-car {
    position: absolute;
    bottom: -55px;
    width: 100%; }
    @media (max-width: 767px) and (orientation: portrait) {
      #sec-main ._below-car {
        bottom: -10vw; } }
    @media (max-width: 575px) and (orientation: portrait) and (max-height: 568px) {
      #sec-main ._below-car {
        bottom: -8vw; } }
    #sec-main ._below-car img {
      width: 135px; }
      @media (max-width: 991px) and (orientation: portrait) {
        #sec-main ._below-car img {
          width: 18vw; } }
  @media (max-width: 460px) and (min-height: 660px) and (orientation: portrait) {
    #sec-main #brand-select {
      bottom: unset;
      top: 300px; } }
  @media (max-width: 460px) and (min-height: 731px) and (orientation: portrait) {
    #sec-main #brand-select {
      bottom: unset;
      top: 310px; } }
  @media (max-width: 460px) and (min-height: 812px) and (orientation: portrait) {
    #sec-main #brand-select {
      bottom: unset;
      top: 350px; } }

#title-scale {
  width: 850px;
  display: flex;
  justify-content: center;
  box-sizing: border-box; }

.__hidden {
  visibility: hidden; }

.portrait-mode {
  position: absolute;
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  font-family: "db_helvethaicax", sans-serif;
  font-size: 2rem; }

#main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  z-index: 99;
  transition: all 300ms ease-in-out;
  overflow-y: hidden;
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: center; }
  @media (max-width: 767px) {
    #main-nav {
      height: 35px; } }
  @media (max-width: 991px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    #main-nav {
      height: 35px; } }
  #main-nav .nav-inner {
    width: 100%;
    height: 100%;
    max-width: 1330px;
    display: flex;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      #main-nav .nav-inner {
        display: flex;
        justify-content: center; } }
    @media (max-width: 991px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      #main-nav .nav-inner {
        display: flex;
        justify-content: center; } }
  #main-nav .nav-logo {
    width: 297px;
    display: flex;
    align-items: center;
    height: 100%; }
    #main-nav .nav-logo img {
      width: 100%; }
    @media (max-width: 767px) {
      #main-nav .nav-logo {
        width: 200px; } }
    @media (max-width: 991px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      #main-nav .nav-logo {
        width: 200px; } }

#brand-select {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box; }
  @media (max-width: 575px) and (orientation: portrait) and (max-height: 644px) {
    #brand-select {
      padding: 10px 20px; } }
  #brand-select .bs-content {
    background-color: white;
    border-radius: 25px;
    padding: 20px 30px 32px 30px;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0px 6px 34px -9px rgba(0, 0, 0, 0.5); }
    @media (max-width: 767px) {
      #brand-select .bs-content {
        padding: 20px 20px 20px 20px; } }
    @media (max-width: 575px) and (orientation: portrait) and (max-height: 644px) {
      #brand-select .bs-content {
        padding: 10px 20px 10px 20px; } }
  #brand-select h2 {
    font-size: 50px;
    line-height: 54px;
    font-weight: 500;
    margin: 0 0 0 0; }
    @media (max-width: 991px) {
      #brand-select h2 {
        font-size: 25px;
        line-height: 28px; } }
    @media (max-width: 460px) {
      #brand-select h2 {
        font-size: 25px;
        line-height: 26px; } }
    @media (max-width: 340px) {
      #brand-select h2 {
        font-size: 20px;
        line-height: 23px; } }
  #brand-select .link-wrap {
    display: flex;
    width: 100%;
    max-width: 850px;
    margin: 25px 0 0 0;
    flex-wrap: wrap;
    height: 100px; }
    @media (max-width: 767px) and (orientation: portrait) {
      #brand-select .link-wrap {
        height: unset;
        margin: 15px 0 0 0; } }
    @media (max-width: 575px) and (orientation: portrait) {
      #brand-select .link-wrap {
        margin: 0 0 0 0; } }
    @media (max-width: 575px) and (orientation: portrait) and (max-height: 644px) {
      #brand-select .link-wrap {
        margin: 0 0 0 0; } }
  #brand-select .brand-link {
    width: 16.66667%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none !important; }
    #brand-select .brand-link ._border {
      transition: all .2s;
      position: absolute;
      left: 2%;
      border: 1px solid #cccccc;
      width: 94%;
      padding-bottom: 94%;
      display: none;
      justify-content: center;
      align-items: center;
      border-radius: 10%; }
      @media (max-width: 767px) {
        #brand-select .brand-link ._border {
          display: none; } }
    #brand-select .brand-link ._wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      height: 100%; }
    #brand-select .brand-link ._year {
      font-size: 20px;
      color: #000000;
      text-align: center;
      font-style: italic;
      font-weight: normal;
      margin-top: auto; }
      @media (max-width: 767px) and (orientation: portrait) {
        #brand-select .brand-link ._year {
          margin-top: auto;
          font-size: 15px; } }
    #brand-select .brand-link img {
      transition: all .2s; }
      @media (max-width: 991px) {
        #brand-select .brand-link img {
          -webkit-transform: scale(0.85);
                  transform: scale(0.85); } }
    @media (min-width: 768px) {
      #brand-select .brand-link:hover ._border {
        display: flex; } }
    @media (max-width: 767px) and (orientation: portrait) {
      #brand-select .brand-link {
        margin: 10px 0 0 0; }
        #brand-select .brand-link img {
          -webkit-transform: scale(0.75);
                  transform: scale(0.75); } }
    @media (max-width: 575px) and (orientation: portrait) {
      #brand-select .brand-link {
        width: 33.33333%;
        margin: 10px 0 0 0; }
        #brand-select .brand-link img {
          -webkit-transform: scale(0.7) translate(0, 0%);
                  transform: scale(0.7) translate(0, 0%); } }
    @media (max-width: 575px) and (orientation: portrait) and (max-height: 568px) {
      #brand-select .brand-link {
        margin-top: -10px !important; } }
    @media (max-width: 575px) and (orientation: portrait) and (max-height: 644px) {
      #brand-select .brand-link {
        margin: 0 0 0 0; }
        #brand-select .brand-link img {
          -webkit-transform: scale(0.5) translate(0, 30%);
                  transform: scale(0.5) translate(0, 30%); } }
    #brand-select .brand-link .__bnw {
      width: 61px; }
    #brand-select .brand-link .__nissan {
      width: 71px; }
    #brand-select .brand-link .__mitsubishi {
      width: 62px; }
    #brand-select .brand-link .__mazda {
      width: 67px; }
    #brand-select .brand-link .__honda {
      width: 95px; }
    #brand-select .brand-link .__toyota {
      padding: 24px 0;
      width: 95px; }
